<h1>Click To View Content</h1>
<%= link_to 'Add a new actor', new_film_actor_path(@film) %>
<ul>
  <% @actors.each do |actor| %>
    <li>
      <%= link_to actor.name, [@film, actor] %>
    </li>
  <% end %>
  <a>
    <%= link_to 'Back to Film', film_path(@film) %>
  </a>
</ul>
