<h1>Click a Actor To View Content</h1>
<%= link_to 'Create a new actor', new_film_actor_path(@film) %>
<ul>
  <% @actors.each do |actor| %>
    <li><%= link_to actor.name, [@film, actor] %></li>
  <% end %>
</ul>
